
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
html, body 
{ 
 overflow-x: hidden;
 background-color: whitesmoke;
}

html {
    min-height: 100%;
    position: relative;
  }

  body {
    margin: 0;
    margin-bottom: 290px;
  }







/*button*/

h2{
    font-family: 'Acme', sans-serif;
}

* {
    box-sizing: border-box;
    color: #515151;
    font-family: Yantramanav,sans-serif;
    margin: 0;
    padding: 0;
}

.search-box{
    position: relative;
    margin: 0 10px 30px;
}

.search-box .input{
    display: flex;
    margin-bottom: 15px;
    max-width: 900px;
}

.plus, .minus {
color: #6e6c6c;

}

.search-box .input input{
    flex: 1;
    border: 1px solid var(--light-gray);
    padding: 5px 14px;
    font-size: .9rem;
}

.search-box .input input::placeholder { 
    color: var(--gray);
}

.search-box .input button{
    width: 45px;
    height: 45px;
    border: none;
    background: var(--primary);
    color: #fff;
    font-size: 1.1rem;
    line-height: 1;
}

@media (min-width: 1300px) {

    .search-box{
        margin: 0 30px 60px;
    }
    .search-box .input{
        margin: 0 auto;
    }
    .search-box .input button{
        width: 100px;
    }
}

:root {
    --primary: #233DCB;
    --light-gray: #dcd9d9;
    --gray: #c7c7c7;
    --dark-gray: #4f4f4f;
    --text-gray: #ababab;
    
}

i {
    color: inherit;
}


button{
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

input {
    font-size: 1rem;
    outline: none;
}

.fa-solid{
 font-size: 20px;
}

/*----------------------- https://dashing-puppy-89779d.netlify.app/#/*/

.content span{
 font-size: 20px;
 color: #0c25b6;
}

.content ul{
 margin-top: 3%;
 font-weight: 500;
}

.content ul:hover{
color: #334fef;

}


.product-card{
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    position: relative;
    height: 100%;
    
}

.product-card:hover{
    transform: scale(0.9);
    transition: .3s;
}

.product-card a{
    text-decoration: none;
    display: block;
}


.product-card .image{
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--light-gray);
    position: relative;
    background-color: white;
}

.product-card .image .over{
    opacity: 0;
    position: absolute;
    transition: .8s;
    background: #fff;
}

.product-card .image:hover .over{
    opacity: 1;
}

.product-card .image img{
    height: 80%;
    width: 80%;
    object-fit: contain;
    margin: 0 auto;
    display: block;
}

.product-card .info{
    padding: 20px 20px 30px 20px;
}

.product-card .info *{
    display: block;
}

.product-card .info .brand{
    color: var(--gray);
    font-weight: 600;
    font-size: 1.1rem;
}

.product-card .info strong{
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.product-card .info .price{
    color: var(--gray);
}

.product-card .info .amount{
    font-weight: 600;
    font-size: 1.2rem;
    margin-left: 10px;
}

.product-card .cart-button{
    position: absolute;
    right: 30px;
    bottom: 30px;
    background: var(--primary);
    width: 50px;
    height: 50px;
    color: #fff;
    border-radius: 50%;
    font-size: 1.3rem;
    line-height: 0;
}





.products-list li {
    padding: 20px 10px;
    width: 100%;
}

.product-card {
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    height: 100%;
    position: relative;
}

.products-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.main-container {
    margin: 0 auto;
}

@media (min-width: 992px){
.home section {
    flex: 1 1;
    max-width: none;}
}

@media (min-width: 992px) {
.main-container {
    max-width: 976px;}
}

@media (min-width: 768px){
.main-container {
    max-width: 721px;}
}

@media (min-width: 576px){
.main-container{
    max-width: 579px;
}
}

/*aside*/




.filter-category .header {
    align-items: center;
    border-bottom: 2px solid var(--light-gray);
    cursor: pointer;
    display: flex;
    font-size: 1.1rem;
    font-weight: 600;
    height: 40px;
    justify-content: space-between;
    padding: 1px;
}

.filter-category .content {
    padding: 20px 0;
}

.filter-category.closed {
    max-height: 40px;
}

.filter-category.closed .header i {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.filter-category {
    margin-bottom: 10px;
    max-height: 300px;
    overflow: hidden;
    transition: all 1s;
}

.filter-category .header i {
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 1s;
}

/*footer*/

footer{
background: #0B0B09;
padding: 60px 0;
margin-top: auto;
position: absolute;
bottom: 0;
width: 100%;
  
}


footer *{
    color: #fff;
}

footer .copyright{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 30px;
}

footer .social-networks{
    text-align: center;
}

footer .social-networks a{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #414141;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.3rem;
    line-height: 2.45;
}

footer i{
 font-size: 50px;
}


/*--------------------------------*/

.title{
cursor: pointer;
}

.navbar{
    height: 60px;
}
.icon i:hover{
    filter: invert(70%) sepia(40%) saturate(6615%) hue-rotate(227deg) brightness(91%) contrast(200%);
}

.title span i:hover{
    filter: invert(56%) sepia(100%) saturate(1134%) hue-rotate(117deg) brightness(99%) contrast(101%);
}

.size{
width: 8%;
}

.navbar nav{
    display: flex;
    justify-content: space-between;
    background: #fff;
}

.navbar .fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.navbar nav .title{
    color: var(--primary);
    font-weight: 700;
    font-size: 1.5rem;
    flex: 1;
    display: block;
    padding: 14px 20px;
}

.navbar nav .title strong{
    cursor: pointer;
    color: inherit;
}

.navbar nav .icon{
    width: 15%;
    text-align: center;
    padding: 14px;
    border: none;
    background: none;
    font-size: 1.4rem;
    color: var(--text-gray);
    line-height: 0;
}

.navbar nav .icon{
    width: 15%;
    text-align: center;
    padding: 14px;
    border: none;
    background: none;
    font-size: 1.4rem;
    color: var(--text-gray);
    line-height: 0;
}

@media (min-width: 992px){
    .navbar nav .title{
        font-size: 2rem;
    }
    .navbar nav{
        border-bottom: 1px solid var(--light-gray);
    }
    .navbar{
        height: 70px;
    }

    .navbar nav .icon{
        border-left: 1px solid var(--light-gray);
    }
}

@media (min-width: 992px){
    .navbar nav .title{
        font-size: 2rem;
    }
    .navbar nav{
        border-bottom: 1px solid var(--light-gray);
    }
    .navbar{
        height: 70px;
    }

    .navbar nav .icon{
        border-left: 1px solid var(--light-gray);
    }
}

@media only screen and ( min-width: 270px ) and ( max-width: 800px ) {
    .size{
        width: 23%;
        }   
}

@media (min-width: 270px) and ( max-width: 327px ) {
   h2{
       font-size: 25px;
   }

   .fa-solid{
    font-size: 16px;
   }
}

@media (min-width: 328px) and ( max-width: 900px ) {
    h2{
        font-size: 25px;
    }
 
    .fa-solid{
     font-size: 15px;
    }
 }


 .home .main-container{
    padding-top: 50px;
}



.search-box{
    position: relative;
    margin: 0 10px 30px;

}

.search-box .input{
    display: flex;
    margin-bottom: 15px;
    max-width: 900px;
}

.search-box .input input{
    flex: 1;
    border: 1px solid var(--light-gray);
    padding: 5px 14px;
    font-size: .9rem;
}

.search-box .input input::placeholder { 
    color: var(--gray);
}

.search-box .input button{
    width: 45px;
    height: 45px;
    border: none;
    background: var(--primary);
    color: #fff;
    font-size: 1.1rem;
    line-height: 1;
}

.search-box .filter-button{
    display: block;
    margin: 0 0 10px auto;
    background: transparent;
    font-size: .95rem;
    color: var(--gray);
    display: flex;
}

.search-box .filter-button i{
    margin-right: 11px;
    font-size: 1.3rem;
}

.search-box .filters-modal{
    position: fixed;
    background: #fff;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: auto;
    width: 300px;
    padding: 10px 13px 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: translateX(100%);
    transform-origin: top right;
    transition: .7s all ease;
    z-index: 99;
}

.search-box .filters-modal.open{
    transform: translateX(0);
}

.search-box .filters-modal .close{
    display: block;
    margin: 0 0 15px auto;
    background: transparent;
    font-size: 1.3rem;
}

.search-box .filters-modal h5{
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.products-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.products-list li{
    padding: 20px 10px;
    width: 100%;
}



@media (min-width: 576px) {
    .products-list li{
        width: 50%;
    }
}

@media (min-width: 992px) {
    .home{
        display: flex;
    }
    .home aside{
        display: block;
        width: 40%;
        padding: 20px;
        padding-top: 50px;
        margin: 0 auto;
    }
    .home aside .fixed{
        position: fixed;
    }
    .home .main-container, .home aside{
        padding-top: 50px;
    }
    .home section{
        max-width: none;
        flex: 1;
    }
    .search-box .filter-button{
        display: none;
    }
}

@media (min-width: 1200px) {
    .products-list li{
        width: 33.33333%;
    }
}

@media (min-width: 994px ) {
    .products-list li{
        padding: 30px;
    }
    .home section{
        padding: 40px;
    }
   
    .search-box .input{
        margin: 0 auto;
    }
    .search-box .input button{
        width: 100px;
    }
}


/*login*/

.login-container{
    background: rgb(184 183 183 / 10%);
}

.login-container .main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login{
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    padding: 25px;
    background: #fff;
}

.login strong{
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    margin-bottom: 30px;
    display: block;
    font-weight: 500;
    line-height: 1.6;
}

.user-avatar{
    width: 90px;
    height: 95px;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    display: block;
}




.login-message{
    color: #2fa8f8;
    margin-bottom: 10px;
    text-align: center;
}

.login .input-container{
    margin-bottom: 20px;
}

.login .input-container input{
    display: block;
    width: 100%;
    padding: 6px 8px;
    margin-top: 4px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 3px;
}

.login .submit-button{
    background: var(--primary);
    width: 100%;
    padding: 9px;
    color: #fff;
    margin: 10px 0 25px;
}

.login .submit-button-user{
    background: var(--primary);
    width: 59%;
    padding: 9px;
    color: #fff;
    margin: 10px 0 25px;
}


.login .error-message{
    color: #2fa8f8;
    text-align: center;
}

.login .test-data{
    background: #d8f5fd;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.login .test-data b{
    display: block;
    text-align: center;
    margin-bottom: 8px;
    font-size: 1.1rem;
}

.login .test-data .field{
    margin-bottom: 6px;
}

.login .test-data .field i{
    margin-right: 13px;
    font-size: 1.2rem;
}

.switch-forms{
    font-size: .9rem;
}

.switch-forms button, .user-info button{
    color: #2fa8f8;
    background: transparent;
    font-size: inherit;
}

.user-info {
    text-align: center;
}

.user-info b{
    display: block;
    margin-bottom: 10px;
}

/*product details*/

.product-detail .suggestions > strong{
    font-size: 1.2rem;
    color: var(--primary);
    display: block;
    margin-bottom: 20px;
}

.product-detail .suggestions ul{
    list-style: none;
}

.product-detail .suggestions ul li{
    padding: 10px;
}



/* ======= PRODUCT INFO ======== */

.product-info .brand{
    color: var(--gray);
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.product-info h2{
    margin-bottom: 20px;
    margin-left: 10px;
}

.product-info .product-data{
    display: flex;
    flex-direction: column;
}

.product-info .product-options .flex{
    display: flex;
    margin-bottom: 20px;
}

.product-info .product-options .price{
    width: 50%;
}

.product-info .product-options .price span{
    display: block;
}

.product-info .product-options .label{
    color: var(--gray);
    margin-bottom: 5px;
}

.product-info .product-options .price .amount{
    font-weight: 600;
    font-size: 1.3rem;
    margin-left: 10px;
}

.product-info .product-options .quantity .flex{
    display: flex;
}

.product-info .product-options .quantity button{
    width: 30px;
    height: 30px;
    background: none;
    line-height: 1.9;
}

.product-info .product-options .quantity button, 
.product-info .product-options .quantity .value{
    border: 1px solid var(--light-gray);
}

.product-info .product-options .quantity .value{
    line-height: 1.7;
    padding: 0 20px;
}

.product-info .add-cart-button{
    width: 100%;
    background: var(--primary);
    color: #fff;
    padding: 15px;
    font-size: 1.1rem;
    margin-bottom: 50px;
}

.product-info .add-cart-button i{
    margin-left: 5px;
}

.product-info .product-description{
    margin-bottom: 30px;
}

.product-detail .suggestions{
    margin-bottom: 70px;
}

@media (min-width: 520px) {
    .product-detail .suggestions ul{
        display: flex;
        flex-wrap: wrap;
    }
    .product-detail .suggestions li{
        width: 50%;
    }
}

@media (min-width: 768px) {
    .product-detail .product-info-flex{
        display: flex;
    }
    .product-detail .product-info-flex > .col{
        width: 50%;
        padding: 20px;
    }
    .product-info .product-data{
        flex-direction: column-reverse;
    }
    .product-detail.main-container{
        max-width: 992px;
    }
}

@media (min-width: 992px) {
    .product-detail .suggestions ul li{
        padding: 30px;
    }
}

@media (min-width: 1200px) {
    .product-detail.main-container{
        max-width: 1100px;
        padding: 50px 0;
    }
    .product-detail .product-info-flex > .col{
        padding: 50px;
    }
    .product-detail .suggestions ul li{
        width: 33.33333%;
    }
}

@media (min-width: 1300px) {
    .product-detail.main-container{
        max-width: 1250px;
    }
    .product-detail .product-info-flex > .col{
        padding: 50px;
    }
}

.leaded{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.leaded a{
    text-decoration: none;
}

.leaded .separator{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary);
    margin: 0 14px;
    
}

/*gallery*/


.images-gallery{
    overflow: hidden;
    margin-bottom: 20px;
}

.images-gallery .gallery{
    position: relative;
}

.images-gallery .images-list{
    display: flex;
    transition: .5s ease-in-out;
    list-style: none;
    height: 350px;
}

.images-gallery .images-list li{
    width: 100%;
    padding: 0 50px;
}

.images-gallery .images-list li img{
    object-fit: contain;
    height: 100%;
}

.images-gallery .button-gallery{
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.images-gallery .button-gallery button{
    background: var(--primary);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 9;
    color: #fff;
    font-size:1.2rem;
    line-height: 2.2;
}

.images-gallery .button-gallery.left{
    left: 0;
}

.images-gallery .button-gallery.right{
    right: 0;
}

.images-gallery .images-preview{
    display: none;
}


@media (min-width: 992px) {
    .images-gallery .gallery{
        margin-bottom: 40px;
    }
    .images-gallery .images-preview{
        display: block;
        list-style: none;
        display: flex;
        justify-content: center;
    }
    .images-gallery .images-preview li{
        width: 70px;
        height: 70px;
        padding: 5px;
        margin: 0 10px;
    }
    .images-gallery .images-preview li.selected{
        border: 2px solid var(--primary);
        border-radius: 6px;
    }
    .images-gallery .images-preview li img{
        height: 100%;
        object-fit: contain;
        cursor: pointer;
    }
}

ul{
padding-left: 0;
margin-bottom: 0;
}

img {
    width: 100%;
    background-color: white;
}


  
  .main-container{
    padding: 13px 20px;
    margin: 0 auto;
  }


  
  @media (min-width: 276px) and (max-width: 990px)  {
    .home aside{
        display: block;
        width: 65%;
        padding-top: 50px;
        margin: 0 auto;
    }
   
    .home .main-container, .home aside{
        padding-top: 50px;
    }
    
  }
  
  @media (min-width: 768px) {
    .main-container{
      max-width: 721px;
    }
  }
  
  @media (min-width: 992px) {
    .main-container{
      max-width: 976px;
    }
  }

/* purchase*/

.purchases h1{
    margin-bottom: 30px;
}



.purchases .purchase-item{
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.purchases .purchase-item .header{
    border-bottom: 1px solid var(--light-gray);
    padding: 10px;
}

.purchases .purchase-item .purchase-products-list{
    padding: 30px 10px 10px 10px;
}

.purchases .purchase-item .purchase-products-list .product-item{
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 60px;
    margin-bottom: 20px;
}

.purchases .purchase-item .purchase-products-list .product-item .image{
    width: 20%;
    height: 100%;
    padding: 0 10px;
}

.purchases .purchase-item .purchase-products-list .product-item .image img{
    object-fit: contain;
    height: 100%;
}

.purchases .purchase-item .purchase-products-list .product-item .name{
    font-size: .8rem;
    width: 43%;
    padding-right: 2%;
}

.purchases .purchase-item .purchase-products-list .product-item .quantity{
    width: 50px;
    padding: 0 10px;
    width: 23%;
}

.purchases .purchase-item .purchase-products-list .product-item .quantity .box{
    border: 1px solid var(--light-gray);
    text-align: center;
    max-width: 65px;
    margin: 0 auto;
}

.purchases .purchase-item .purchase-products-list .product-item .price{
    width: 39%;
    text-align: center;
}

.purchases .no-purchases-message{
    color: #a9a9a9;
    margin-top: 40px;
}

.purchases .no-purchases-message a{
    color: #6eadff;
    text-decoration: none;
}

@media (min-width: 768px) {
    .purchases .purchase-item .header{
        padding: 20px 30px;
    }
    .purchases .purchase-item .purchase-products-list .product-item .name{
        font-size: 1rem;
    }
    .purchases .purchase-item .purchase-products-list .product-item .price{
        font-weight: 600;
    }
    .purchases .purchase-item .purchase-products-list .product-item .quantity .box{
        padding: 10px;
    }
    .purchases{
        padding: 40px 20px 80px;
    }
    .purchases .leaded{
        margin-bottom: 30px;
    }
}

@media (min-width: 992px) {
    .purchases h1{
        margin-bottom: 50px;
    }
    .purchases .purchase-item .purchase-products-list .product-item{
        margin-bottom: 30px;
    }
    .purchases.main-container{
        max-width: 900px;
    }

}


.main-products{
 padding-left: 9%;
}

@media (min-width: 280px)  and (max-width:300px){
    .main-products{
        padding-left:2%;
       } 



}

@media (min-width: 200px)  and (max-width:340px){
    .main-products{
        padding-left:2%;
       } 

       .history{
        font-size: 11px;
    }

}


/*cart*/
.cart{
    padding: 20px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.cart .minimalist-scrollbar{
    flex: 1;
}
.cart h4, .cart .cart-products-list{
    padding: 0 20px;
}
.cart h4{
    font-size: 1.3rem;
    margin-bottom: 20px;
}
.cart .cart-products-list{
    margin-bottom: 20px;
    list-style: none;
    flex: 1;
}
.cart .cart-products-list li{
    margin-bottom: 80px;
}
.cart .cart-products-list li .product-info{
    display: flex;
    margin-bottom: 18px;
}
.cart .cart-products-list li .product-info img{
    width: 70px;
    height: 70px;
    object-fit: contain;
}
.cart .cart-products-list li .product-info .details{
    flex: 1;
    padding: 0 10px;
}
.cart .cart-products-list li .product-info .details span,
.cart .cart-products-list li .product-info .details a{
    display: block;
    text-decoration: none;
}
.cart .cart-products-list li .product-info .details .brand{
    color: var(--gray);
    font-size: .8rem;
    margin-bottom: 2px;
}
.cart .cart-products-list li .product-info .details .name{
    color: inherit;
    font-weight: 500;
    font-size: .9rem;
    margin-bottom: 10px;
}
.cart .cart-products-list li .product-info .details .quantity{
    width: 60px;
    height: 30px;
    line-height: 1.8;
    text-align: center;
    border: 1px solid var(--light-gray);
    border-radius: 3px;
}
.cart .cart-products-list li .product-info .button-delete button{
    color: var(--primary);
    background: transparent;
}
.cart .cart-products-list li .total{
    text-align: right;
}
.cart .cart-products-list li .total .label{
    color: var(--gray);
    font-size: .8rem;
    margin-right: 20px;
}

.cart .checkout-section{
    border-top: 1px solid var(--light-gray);
    padding: 30px 20px;
}
.cart .checkout-section .total{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.cart .checkout-section .total .label{
    color: var(--light-gray);
}
.cart .checkout-section .total b{
    font-size: 1.1rem;
}
.cart .checkout-section .buy-button{
    background: var(--primary);
    color: #fff;
    padding: 10px;
    width: 100%;
}


@media (min-width: 200px)  and (max-width:475px){

    img {
        width: 100%;
        background-color:transparent;
    }

}




  









